<section class="splash-container">
  <h1 class="fst-italic fw-semibold">Budget Trackie <br>
    <i class="bi bi-bar-chart-line"></i>
  </h1>

  <div class="button-container text-uppercase text-center">
    <%= link_to 'Log In', new_user_session_path, class: 'btn' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-secondary bg-transparent' %>
  </div>
</section>
