<% @expenses.each do |expense| %>
  <div class="px-3 py-3 mb-3 bg-body border border-2 border-light-subtle d-flex flex-column">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h5 class="title mb-0"><%= expense.name %></h5>
      <span class="expense-amount fw-bold"><%= number_to_currency(expense.amount) %></span>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <span class="date fs-6"><%= expense.created_at.strftime('%d %b %Y at %I:%M%P') %></span>
      <%= button_to "Delete", user_category_expense_path(current_user, @category, expense), method: :delete, class: "btn p-0 border-0 bg-transparent btn-link link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
    </div>
  </div>
<% end %>