@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #434b54;
}

.nav-header {
  background-image: linear-gradient(#3778c2, #3a64a8);
  color: #fff;
}

.notice,
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  margin: 0;
}

.notice {
  color: #1e6641;
  background-color: #d8f3e5;
  border-color: #c8eedb;
}

.alert {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.form_container {
  display: flex;
  flex-direction: column;
  margin: 1.3rem 0;
  padding: 1rem;
  background: #fff;
  gap: 0.5rem;
  border-top: 2px solid #d0cfcf47;
  border-bottom: 2px solid #d0cfcf47;
}

.form_group {
  display: flex;
  flex-direction: column;
}

.form_label {
  margin-bottom: 0.2rem;
}

.form_input {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.form_input:focus {
  outline: none;
  border-color: #213535;
}

.btn {
  padding: 0.45rem 1rem;
  border: 2px solid #3778c2;
  border-radius: 0;
  background-color: #3778c2;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn:hover {
  color: #2076f7;
  background-color: inherit;
  border-color: #2076f7;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.splash-container h1 {
  font-size: 2.25rem;
  color: #434b54;
  margin-bottom: 6rem;
  text-align: center;
}

.splash-container .button-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 3rem;
  width: 20rem;
}

.splash-container .btn {
  padding: 12px;
  margin: 2px;
  font-size: 1.12rem;
  border: none;
  border-radius: 3px;
}

.splash-container .btn-secondary {
  color: #434b54;
}

.categories-container {
  margin-bottom: 4.5rem;
}

.add-category-btn {
  background-color: #60b524;
  padding: 1.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.new-category-btn {
  padding: 0.75rem 5.2rem;
}

.bi-arrow-left {
  font-size: 1.8rem;
}

.category-icon {
  max-width: 3rem;
}
